.poster-bg {
    height: 100vh;
    width: 100vw;
    background-color: rgba(32, 32, 32, 0.507);
    z-index: 100;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
    /* filter: blur(2px); */
    /* backdrop-filter: (10px); */
/* e */
}

.poster {
    height: 512px;
    width: 810px;
    border-radius: 10px;
    margin-top: -70px;
    display: flex;
    position: relative;
    background-color: #242424;
    /* z-index: 1000; */
}

.poster .left {
    width: 50%;
    height: 100%;
}

.poster .left img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.poster .right {
    width: 50%;
    text-align: center;
}

.poster .right .cross {
    position: absolute;
    right: -6px;
    top:-6px;
    color: aliceblue;
    background-color: rgb(27, 27, 27);
    border-radius: 10px;    
    padding: 4px;
}

.poster .right .cross:hover {
    scale: 1.5;
    transition: all .7s ease;
}

.poster h2 {
    margin: 10% 0px 0px 0px;
    font-weight: 300;
    letter-spacing: 0px;
}

.poster h4 {
    margin: 50px;
    font-weight: 100;
    letter-spacing: 1px;
}

.poster .right button {
    padding: 18px 22px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
}

.poster .right button:hover {
    scale: 1.05;
    transition: all ease .5s;
}


@media (max-width: 768px) {
    .poster-bg {
        width: 99vw;
        height: 100vh;
        margin-top: 120px;
        z-index: 1000000;
        justify-content: center;
    }

    .poster {
        width: 90%;
        margin: 0px;
        flex-direction: column;
        position: relative;
    }
    
    .poster .left{
        width: 100%;
        height: 50%;
        display: flex;
    }

    .poster .right {
        width: 100%;
        font-size: 12.5px;
    }

    .poster .right h2 {
        margin-top: 2%;
    }

    .poster .right h4 {
        margin: 10px;
    }

    .poster .right button {
        margin-bottom: 10px;
    }

    .poster .right .cross {
        scale: 2;
    }
}